.inputs {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family:  Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: large;
    height: 15vh;
    color: aliceblue;
}

.formhome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
/* Searchbox */
.search-box {
    width: 90%;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    background:  linear-gradient(255deg, #e2f2ff 0%, #ffffff 70%, #b4ddff 100%);
    border-radius: 30px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.bs {
    
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    box-shadow: 10px -10px 25px 0 rgba(248, 220, 64, 0.5), -10px 10px 25px 0 rgba(64, 67, 248, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

.bs:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 10px 0 rgba(248, 220, 64, 0.5), -10px 10px 10px 0 rgba(64, 67, 248, 0.5);
}

.bs:active{
    transform: translate(0, 0);
    background:  linear-gradient(255deg, #1784dd 0%, #eea435 70%, #1784dd 100%);
}

/* buttons nav */
.btn-nice {
    color: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    background: rgba(255, 255, 255, 0.5);

}

/* .btn-nice::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(255deg, #eea435 0%, #1784dd 70%, #dd8f8f 100%);
    z-index: -1;
} */

.btn-nice:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(248, 220, 64, 0.5), -10px 10px 25px 0 rgba(64, 67, 248, 0.5);
}

.btn-nice:hover::after {
    transform: rotate(150deg)
}
.btn-nice:active{
    transform: translate(0, 0);
    background:  linear-gradient(255deg, #eff8ff 0%, #eea435 70%, #eaf0f5 100%);
}
/* selectors */

.selectors{
    color: rgb(0, 0, 0);
    height: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.selectors:hover{
    transform: translate(0, -3px);
    box-shadow: 10px -10px 25px 0 rgba(248, 220, 64, 0.5), -10px 10px 25px 0 rgba(64, 67, 248, 0.5);
}
.inputs div {
    position: relative;
    
}
.blanco{
    border-radius: 10px;
    text-align: center;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}
.cards {
    display: flex;
    flex-direction: column;

}

.backimg {
    position: absolute;
    width: 100%;
    height: 110%;
    background: linear-gradient(#f69d3c, #3f87a6);
    
}

.cards div {
    position: relative;
}

/* Add a black background color to the top navigation bar */